.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  box-shadow: 2px 1px 1px 1px #888888;
  border-radius: 25px;
  margin-left: 2px;
}

.start {
  background-color: red;
}

.end {
  background-color: green;
}

.visited {
  background-color: aqua;
}

.wall{
  background-color: black;
}
