
.playground{
  display: flex;
  flex-direction: column;
}


.grid {
  margin: auto;
  margin-top: 10%;
  background-image: url("https://wallpapercave.com/wp/ci1BoK6.jpg");
}

#hide {
  display: none;
}

#begin{
    display: block;
}

.node-shortest-path{
  background-color: aqua;
}